# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco"s fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel Greencore

# Balance (default profile)
on property:persist.spectrum.profile=0
    #Based on Greencore Balanced

	#Set governor Interactive governor for the LITTLE and BIG cluster
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "impulse"
		write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "impulse"
		write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "impulse"
		write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "impulse"

	#Tweak cpu
		write /sys/module/msm_performance/parameters/cpu_max_freq "0:1500000 1:1500000 2:1600000 3:1600000"

	#Tweaking GPU
		write /sys/class/kgsl/kgsl-3d0/max_gpuclk 560000000
		write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 1

	#Set zen block I/O scheduler
	write /sys/block/sda/queue/scheduler zen

# Performance
on property:persist.spectrum.profile=1
    #Based on Greencore Performance

	#Set governor Interactive governor for the LITTLE and BIG cluster
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "dancedance"
		write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "dancedance"
		write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "dancedance"
		write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "dancedance"

	#Tweak cpu
		write /sys/module/msm_performance/parameters/cpu_max_freq "0:1728000 1:1728000 2:2150400 3:2150400"

	#Tweaking GPU
		write /sys/class/kgsl/kgsl-3d0/max_gpuclk 624000000
		write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 2

	#Set zen block I/O scheduler
	write /sys/block/sda/queue/scheduler fiops

# Battery
on property:persist.spectrum.profile=2
	#Based on Greencore Battery

	#Set governor Interactive governor for the LITTLE and BIG cluster
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "alucard"
		write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "alucard"
		write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "alucard"
		write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "alucard"

	#Tweak cpu
		write /sys/module/msm_performance/parameters/cpu_max_freq "0:1500000 1:1500000 2:1500000 3:1500000"

	#Tweaking GPU
		write /sys/class/kgsl/kgsl-3d0/max_gpuclk 510000000
		write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0

	#Set zen block I/O scheduler
	write /sys/block/sda/queue/scheduler noop

# Gaming
on property:persist.spectrum.profile=3
    #Based on Greencore Gaming

	#Set governor Interactive governor for the LITTLE and BIG cluster
		write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "blu_active"
		write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "blu_active"
		write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "blu_active"
		write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "blu_active"

	#Tweak cpu
		write /sys/module/msm_performance/parameters/cpu_max_freq "0:1728000 1:1728000 2:1728000 3:1728000"

	#Tweaking GPU
		write /sys/class/kgsl/kgsl-3d0/max_gpuclk 710000000
		write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 3

	#Set zen block I/O scheduler
	write /sys/block/sda/queue/scheduler fiops
